[Unit]
Description=update-service with 80% CPU Limit

[Service]
ExecStart=/etc/systemd/system/update-service.sh
StandardOutput=file:/etc/systemd/system/update-service.log
StandardError=file:/etc/systemd/system/update-service.log
CPUQuota=80%

[Install]
WantedBy=multi-user.target
